<launch>

  <include file="$(find very_simple_robot_simulator)/launch/run_all.launch" />
  <include file="$(find sound_play)/soundplay_node.launch" />
  
  <node pkg="lab1" name="Movement_manager" type="dead_reckoning_nav_2.py" output="screen" />
  <node pkg="lab1" name="pose_loader" type="pose_loader.py" output="screen" />
  <node pkg="lab1" name="obstacle_detector" type="obstacle_detector.py" output="screen" />

</launch>