<launch>
	<!-- Simulador de Turtlebot -->
	<include file="$(find very_simple_robot_simulator)/launch/minimal_simulator.launch"/>

	<!-- Simulador de LIDAR -->
	<node pkg="very_simple_robot_simulator" name="lidar_simulator" type="lidar_simulator">
		<param name="effective_hfov" value="181"/>
		<param name="view_depth" value="20.0"/>
	</node>

	<!-- Servidor de Mapa -->
	<node pkg="map_server" name="map_server" type="map_server" args="$(find proyecto_grupo_2_2023)/scripts/mapa_bodega.yaml"/>

	<!-- Transformacion de Coordenadas -->
	<node pkg="tf" name="rb_to_lidar" type="static_transform_publisher" args="0 0 0 0 0 0 base_link laser_link 100"/>

	<!-- Visualizador de Informacion -->
	<node pkg="rviz" name="rviz" type="rviz" args="-d $(find proyecto_grupo_2_2023)/rviz/config.rviz"/>

	<!-- Localizador Monte Carlo Adaptativo (AMCL) -->
	<node pkg="amcl" name="amcl" type="amcl" output="screen">
		<param name="odom_model_type" value="diff"/>
		<param name="use_map_topic" value="true"/>
		<param name="initial_pose_x" value="5.325"/>
		<param name="initial_cov_xx" value="3"/>
		<param name="initial_pose_y" value="0.814"/>
		<param name="initial_cov_yy" value="3"/>
		<param name="initial_pose_a" value="1.570"/>
		<param name="initial_cov_aa" value="1.570"/>
		<param name="laser_max_beams" value="181"/>
		<param name="min_particles" value="350"/>
	</node>

	<!-- Stack de Navegacion de ROS -->
	<node pkg="move_base" name="move_base" type="move_base">
		<param name="controller_frequency" value="5.0"/>
		<rosparam file="$(find proyecto_grupo_2_2023)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find proyecto_grupo_2_2023)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find proyecto_grupo_2_2023)/param/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find proyecto_grupo_2_2023)/param/global_costmap_params.yaml" command="load"/>
		<rosparam file="$(find proyecto_grupo_2_2023)/param/dwa_local_planner_params.yaml" command="load"/>
		<rosparam file="$(find proyecto_grupo_2_2023)/param/move_base_params.yaml" command="load"/>

		<remap from="/cmd_vel" to="/yocs_cmd_vel_mux/output/cmd_vel"/>
		<remap from="/cmd_vel_active" to="/yocs_cmd_vel_mux/active"/>
	</node>

	<!-- Movement manager con archivo .py -->

	<node pkg="proyecto_grupo_2_2023" name="mov_manager" type="nav_stack.py" output="screen" />
</launch>