<launch>
	<include file="$(find kobuki_node)/launch/minimal.launch"/>
	<param name="/camera/driver/data_skip" value="2"/>
	<include file="$(find freenect_launch)/launch/freenect.launch"/>

	<node pkg="lab2" name="Reactive_movement" type="reactive_movement.py" output="screen"/>
	

	<node pkg="pid" name="wall_depth" type="controller" ns="angle">
		<param name="Kp" value="0.4"/>
		<param name="Ki" value="0"/>
		<param name="Kd" value="0"/>
		<param name="upper_limit" value="0.5"/>
		<param name="lower_limit" value="-0.5"/>
	</node>
</launch>