<launch>
	<include file="$(find kobuki_node)/launch/minimal.launch"/>
	<param name="/camera/driver/data_skip" value="2"/>
	<include file="$(find freenect_launch)/launch/freenect.launch"/>

	<node pkg="lab2" name="Reactive_movement" type="reactive_movement.py" />
	

	<node pkg="pid" name="wall_depth" type="controller" ns="wall">
		<param name="Kp" value="0.1"/>
		<param name="Ki" value="0"/>
		<param name="Kd" value="0"/>
		<param name="upper_limit" value="0.2"/>
		<param name="lower_limit" value="-0.2"/>
	</node>
</launch>
